<div class="container">
<div>
<div class="row text-center py-5">
<div class="col-6 d-flex flex-wrap align-items-center">
    <img class="mx-auto img-fluid" src="../../../assets/home.png">
    
</div>
<div class="col-6">
    <h1 class="display-1">Welcome</h1> 
    <p class="glyphicon">Best way to find restourants</p>
    <p class="glyphicon">you want!</p>
   
</div>
</div>

 <div class="text-center">
        <button [routerLink]="['/restaurants']" (click)='click()'>Show all restaurants</button>    
    </div>
    


</div>
</div>


