<div class="container" style="height: 70%;">
    <div>
        <div class="row text-center py-5">
            <div class="col-6 d-flex flex-wrap align-items-center">
                <img class="mx-auto img-fluid" src="../../../assets/home.png">
            </div>
            <div class="col-6">
                <p class="glyphicon-head mb-5">Welcome</p>
                <p class="glyphicon my-3">Best way to find restourants</p>
                <p class="glyphicon">you want!</p>
            </div>
        </div>
        <div class="text-center mt-1">
            <button class="py-3 px-3" [routerLink]="['/restaurants']" (click)='click()'>Show all restaurants</button>
        </div>
    </div>
</div>