<div class="container" style="height: 60%;">
    <div class="text-center py-5 mt-5 " style="background-color:rgb(230, 143, 62);" *ngIf="restaurant">
        <div> <p class="text-white" style="font-size: medium;">{{restaurant.id}}</p></div>
        <div> <p class="text-white" style="font-size: medium;">Restaurant name: {{restaurant.name}}</p></div>
        <div> <p class="text-white" style="font-size: medium;">Latitude: {{restaurant.lat}}</p></div>
        <div> <p class="text-white" style="font-size: medium;">Longitute: {{restaurant.lon}}</p></div>
        <div> <p class="text-white" style="font-size: medium;">Rating: {{restaurant.rating}}</p></div>
    </div>
</div>