<div class="container">
    <div class="form-group row py-5">
        <div class="col-6 my-auto">
            <div class="my-auto d-flex vertical-align-center">
                <p class="d-inline mx-auto text-center">Rating:</p>
                <section class="d-inline mx-auto">
                    <mat-checkbox class="d-inline-flex mx-3 text-center" [(ngModel)]="ratingOneTwo">1-2
                    </mat-checkbox>
                    <mat-checkbox class="d-inline-flex mx-3 text-center" [(ngModel)]="ratingTwoThree">2-3
                    </mat-checkbox>
                    <mat-checkbox class="d-inline-flex mx-3 text-center" [(ngModel)]="ratingThreeFour">3-4
                    </mat-checkbox>
                    <mat-checkbox class="d-inline-flex mx-3 text-center" [(ngModel)]="ratingFourFive">4-5
                    </mat-checkbox>
                </section>
            </div>
        </div>
        <div class="col-6 text-center mx-auto">
            <form (ngSubmit)="onSubmit()">
                <p class="d-inline">Search by name:</p>
                <input class="d-inline" type="text" name="name" placeholder="Restaurant Name"
                    [(ngModel)]="restaurantName">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1 style="text-align: center;">Map od restaurants</h1>
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">

                <agm-marker *ngFor="let m of filteredRestaurants; let i = index" (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.latitude" [longitude]="m.longitude">

                    <agm-info-window>
                        <strong>InfoWindow content</strong>
                    </agm-info-window>

                </agm-marker>
<!-- 
                <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'"
                    [circleDraggable]="true" [editable]="true">
                </agm-circle> -->

            </agm-map>
        </div>
        <div class="col-6">
            <h1 class="font-weight-bold" style="text-align: center;">List of restaurants</h1>
            <hr class="mx-5">
            <ul style="list-style: none;">
                <div class="container">
                    <li>
                        <div class="row">
                            <div class="col-6 pr-0">
                                <h2>Restaurant name</h2>
                            </div>
                            <div class="col-6 pl-0">
                                <h2>Rating</h2>
                            </div>
                        </div>
                    </li>
                </div>
                <hr class="mb-3 mt-0">
                <div style="height: 500px; overflow: auto;">
                    <li *ngFor="let restaurant of filteredRestaurants">
                        <item-restaurant (click)='onOpenRestaurant(restaurant.id)' [name]=restaurant.name
                            [rating]=restaurant.rating>
                        </item-restaurant>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>