<footer class="page-footer jumbotron footer-card py-3" style="background-color:rgb(230, 143, 62);">
    <div class="container text-center">
        <div class="row mx-auto">
            <div class="col-md-4 mx-auto">
                <h6 class="font-weight-bold mt-3 mb-3" style="font-size: large;">Restaurants</h6>
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a class="text-white" [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-white" [routerLink]="['/restaurants']">Find Restaurants</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mx-auto">
                <h6 class="font-weight-bold mt-3 mb-3" style="font-size: large;">Organization</h6>
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a class="text-white" [routerLink]="['/about-us']">About Us</a>
                    </li>
                    <li class="mb-1">
                        <a class="text-white" [routerLink]="['/contact']">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mx-auto">
                <h6 class="font-weight-bold mt-3 mb-3" style="font-size: large;">Information</h6>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-white" [routerLink]="['/faqs']">FAQs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="divider">
    <div class="footer-copyright text-center py-1" style="background-color:rgb(230, 143, 62);">
        © 2020 - 2020 FindRestaurants.com
    </div>
</footer>
 